accelerate
datasets
docling
fastapi
fastembed
google-genai
groq
langchain
langchain-community
langchain-core
langchain-experimental
langchain-google-genai
langchain-groq
langchain-openai
langchain-sambanova
langfuse==2.60.10
opencv-python-headless
openai
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
pandas
pdfplumber
Pillow
pydantic
pydantic-ai
PyMuPDF
python-dotenv
python-multipart
qdrant-client
rank-bm25
requests
sambanova
sentence-transformers
streamlit
torch
tqdm
transformers
unstructured[pdf]
unstructured[csv]
uvicorn
